body{
    background-color: #00197f;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
    height: 100%vh;
}

.title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: -2rem;
}

/* .title h1{
    font-size: 1.5rem;
    color: #fff;
    opacity: .9;
    font-family: "yatra one", sans-serif;
} */

.title img{
    width: 430px;
    padding: 0;
}

.stairs{
    position: relative;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;

}

.steps{
    width: 386px;
}

.frame{
    width: auto;
    overflow: hidden;
    margin-bottom: 1rem;
}

.frame img{
    width: 100%;
    height: auto;
}




.userdiya{
    width: 4.2rem;
    padding: .1rem;
}

.diya {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(4, 2fr);
    column-gap: .5rem;
    row-gap: .1rem;
    margin-top: -2rem;
}

.userdiya {
    text-align: center;
}

/* .container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
} */

.username p{
    font-size: .45rem;
    color: #612000;
    text-align: center;
    margin-top: -1.3rem;
    padding: 0 5px 0 5px;
    overflow: hidden;
    width: 60px;
    height: 15px;
    font-weight: 600;
}

.user_diya{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mobile-message {
    display: none;
}

/* styles.css */
/* styles.css */
.floating-button {
    width: 100px;
    position: fixed;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add a smooth transition effect */
}

/* Styling for the first button (scroll to top) */
#scrollToTopButton {
    bottom: 70px;
    right: 250px;
}

/* Styling for the second button (scroll to user's Diya) */
#scrollToUserDiyaButton {
    bottom: 70px; /* Adjust the vertical position */
    right: 20px;
}

/* Hover effect for the buttons */
.floating-button:hover {
    background-color: #0056b3; /* Change the background color on hover */
}


/* .focused-glow {
    box-shadow: 0 0 10px #ffcc00;
    transition: box-shadow 0.5s ease-in-out; 
} */

/* Add other styles as needed */


@media only screen and (min-width: 390px) {
    .userdiya{
        width: 5.2rem;
    }

    .username p{
        margin-top: -1.5rem;
        width: 70px;
        font-size: .55rem;
    }
}

@media only screen and (min-width: 450px) {
    .background-image-container {
        display: none;
    }

    footer{
        color: #000;
    }

    .mobile-message {
        display: flex;
        font-size: 2rem;
        margin-top: 10rem;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .mobile-message img{
        width: 70px;
        margin-top: 1rem;
    }

    body{
        background-color: #fff;
    
    }
}

